body, textarea, button {
  font-family: "Cousine", "Courier New", "Mono";
  font-size: 12pt;
}

body {
  background-color: black;
  text-align: center;
}

video {
  left: 0;
  position: absolute;
  top: 0;
  -webkit-transform: rotateY(180deg);
  z-index: 1;
}

svg {
  left: 0;
  position: absolute;
  top: 0;
  z-index: 2;
}

canvas {
  height: 480px;
  left: 0;
  position: absolute;
  top: 0;
  width: 480px;
  z-index: 998;
}

#info {
  position: absolute;
  top: 40%;
  width: 98%;
  z-index: 999;  
}

#text {
  background-color: rgba(0, 32, 0, 0.5);
  border: 2px solid yellow;
  color: yellow;
  height: 3em;
  width: 98%;
}

button {
  background-color: rgba(0, 32, 0, 0.5);
  color: yellow;
}

#info-controls {
  margin: 0.5em auto;
}
